# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
__pycache__/
*.pyc
.env
.env.*

# Environment variables
.env

# Flask cache
instance/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
